body,
html {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 200;
  color: white;
}

.item {
  text-align: center;
  background-color: gray;
  border: 1px solid white;
  border-radius: 8px;
  width: 500px;
}

.container {
  width: auto;
  height: 70vh;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.item1 {
  height: 100px;
}
.item2 {
  height: 140px;
}
.item3 {
  height: 70px;
}
.item4 {
  height: 155px;
}
.item5 {
  height: 300px;
}
.item6 {
  height: 100px;
}