* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    padding: 16px;
  }
  
  .row {
    column-count: 4;
    column-width: 405px;
    column-gap: 0px;
    margin: auto;
  }
  
  .column {
    border-radius: 8px;
  }
  .column img {
    border: 1px solid lightgray;
    width: 100%;
    display: block;
    margin-bottom: 0;
    break-inside: avoid;
  }